.board {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100vh;
    width:100%;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    padding-top: rem(60px);
    margin-bottom: rem(8px);
    padding-bottom: 8px;
    background-image: url(https://i.pinimg.com/originals/9e/53/67/9e53674b2ae6719742eb11bdba4e4da8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}