.board-page {
    height: 100vh;
    grid-template-rows: auto 1fr;
    // background-image: url(https://images.unsplash.com/photo-1659183591938-9753dee61d4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-position: center center;

    .board {
        grid-template-rows: auto 1fr;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        font-family: san-francisco-light, sans-serif;
        font-size: rem(13px);
        height: 100%;
        padding-bottom: 8px;
    }
}

.black-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0009;
    z-index: 20;
    cursor: pointer;
    overflow-y: auto;
    // pointer-events: none;
}

.disabled-black-screen {
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 15px;
    height: 13px;
}

::-webkit-scrollbar-track {
    background: rgb(36 35 40 / 31%);
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(240 240 245 / 62%);
    border-radius: 10px;
    // border: 5px solid rgba(255, 255, 255, 0);
    // background-clip: padding-box;
    width: 8px;
}

@media (max-width: 750px) {
    ::-webkit-scrollbar {
        display: none;
    }
}
