.board {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100vh;
    padding-top: rem(60px);
    margin-bottom: rem(8px);
    padding-bottom: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://i.pinimg.com/originals/9e/53/67/9e53674b2ae6719742eb11bdba4e4da8.jpg);
    font-family: san-francisco-light, sans-serif;
}