.task-details-container {
    position: absolute;
    max-width: 768px;
    background-color: $clr12;
    border-radius: 3px;
    font-family: san-francisco-light, sans-serif;
    color: $clr8;
    line-height: 20px;
    z-index: 45;
    cursor: default; // without it get pointer from black-screen

    h4 {
        font-size: rem(15.5px);
        line-height: rem(20px);
        font-family: san-francisco-medium, sans-serif;
        margin-left: 33px;
    }

    h6 {
        font-size: rem(11px);
        line-height: rem(20px);
        font-family: inherit;
        color: $clr23;
        font-weight: 600;
    }

    button {
        border: none;
        color: inherit;
        background-color: rgba(9, 30, 66, 0.04);
        border-radius: 3px;
        padding: 6px 12px;
        font-family: inherit;
        line-height: 20px;

        &:hover {
            background-color: rgba(9, 30, 66, 0.090);
        }
    }

    .task-details-cover {
        position: relative;

        .task-cover-img {
            height: 160px;
            object-fit: contain;
            background-color: #2c2c2c1c;
        }

        .task-cover-color {
            height: rem(116px);
        }

        .btn-cover-modal {
            z-index: 5;
            background-color: #00000014;
            padding: 6px 12px 6px 12px;
            border: none;
            border-radius: 3px;
            bottom: 10px;
            color: #172b4d;
            font-weight: 700;
            position: absolute;
            right: 10px;

            &:hover {
                background-color: #00000029;
            }

            .cover-modal-icon {
                margin-inline-end: 4px;
                margin-top: 4px;
                color: #172b4d;
                width: 20px;
            }
        }

        .close-task-details {
            align-items: center;
            border: none;
            border-radius: 50%;
            color: #42526f;
            display: flex;
            height: 40px;
            justify-content: center;
            margin: 4px;
            padding: 4px;
            position: absolute;
            font-size: 24px;
            right: 0;
            top: 0;
            width: 40px;
            z-index: 2;
            background: none;

            &:hover {
                color: #42526f;
                background-color: #e1e4e9;

            }
        }
    }

    .task-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
        margin-bottom: 15px;

        &-icon {
            position: absolute;
            font-size: 21px;
            color: $clr14;
            margin-top: 10px;
        }

        &-header {
            width: 92%; // 672px
            background-color: transparent;
            border: none;
            font-size: rem(20px);
            font-family: san-francisco-medium, sans-serif;
            padding: 4px 8px;
            color: $clr8;
            outline-color: $clr18;
            margin-top: 5px;
            margin-left: 25px;

            &:focus {
                background-color: white;
            }
        }

        &-subtitle {
            font-size: rem(14px);
            margin-top: 1.5px;
        }
    }

    .task-details {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }
}

@media (min-width: 750px) {
    .task-details-container {
        top: 46px;
        left: calc(100vw / 4.5);

        .task-title {
            &-subtitle {
                margin-left: 33px;
            }
        }

        .task-details {
            flex-direction: row;

            .task-details-content {
                width: 545px;
            }
        }
    }
}

@media (max-width: 750px) {
    .task-details {
        flex-direction: column;
    }
}