.task-details {
    width: 770px;
    background-color: $clr12;
    border: 1px solid black;
    margin: auto;
    padding-top: 100px;
    border-radius: 0.4%;
    margin-bottom: 80px;
    font-family: san-francisco-light, sans-serif;

    >* {
        margin-bottom: 24px;
    }

    .task-details-cover {
        .task-cover-img {
            height: 150px;
            object-fit: contain;
            padding: 0;
            background-color: #5e6c84b2;
        }
    }

    .task-details-content {
        >* {
            display: flex;
        }

        .task-title-container {
            display: flex;
            align-items: flex-start;

            .card-icon {
                width: 20px;
            }

            .task-title {
                font-size: rem(20px);
                font-family: san-francisco-medium, sans-serif;
                color: $clr8;
                display: inline;
                padding-inline-start: 10px;
            }
        }

        .members {
            h6 {
                font-size: rem(12px);
                line-height: rem(20px);
                color: #5e6c84;
                font-weight: 600;
            }
        }

        .members {
            img {
                width: 20px;
            }
        }

        .date-container {
            .date {
                background-color: rgba(9, 30, 66, 0.04);
                border-radius: 3px;
                padding: 6px 12px;

                &:hover {
                    background-color: rgba(9, 30, 66, 0.090);
                }
            }
        }

        .description {
            h4 {
                display: inline;
            }

            button {
                color: inherit;
                background-color: rgba(9, 30, 66, 0.04);
                border-radius: 3px;
                padding: 6px 12px;

                &:hover {
                    background-color: rgba(9, 30, 66, 0.090);
                }
            }
        }
    }
}