.task-details-container {
    background-color: $clr12;
    font-family: san-francisco-light, sans-serif;
    color: $clr8;
    line-height: 20px;
    z-index: 45;
    cursor: default; // without it get pointer from black-screen

    h4 {
        font-size: rem(15.5px);
        line-height: rem(20px);
        font-family: san-francisco-medium, sans-serif;
        margin-left: 33px;
    }

    h6 {
        font-size: rem(11px);
        line-height: rem(20px);
        font-family: inherit;
        color: $clr23;
        font-weight: 600;
        text-align: left;
    }

    .sidebar-btn,
    button {
        border: none;
        color: inherit;
        background-color: rgba(9, 30, 66, 0.04);
        border-radius: 3px;
        padding: 6px 12px;
        font-family: inherit;
        line-height: 20px;

        &:hover {
            background-color: rgba(9, 30, 66, 0.090);
        }
    }

    .close-btn {
        align-items: center;
        border: none;
        border-radius: 50%;
        color: #42526f;
        display: flex;
        height: 40px;
        justify-content: center;
        margin: 4px;
        padding: 4px;
        position: absolute;
        font-size: 24px;
        right: 0;
        top: 0;
        width: 40px;
        z-index: 2;
        background: none;

        &:hover {
            color: #42526f;
            background-color: #e1e4e9;
        }
    }

    .task-details {
        display: flex;
        justify-content: space-between;
        gap: 16px;

        &-content {
            .content-info {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}

@media (min-width: 850px) {
    .task-details-container {
        width: 768px;
    }
}

@media (min-width: 750px) {
    .task-details-wrapper {
        position: absolute;
        top: 48px;
        left: 50%;
        transform: translate(-50%, 0);

        .task-details-container {
            min-width: 710px;
            border-radius: 3px;

            .task-title {
                &-subtitle {
                    margin-left: 33px;
                }
            }

            .task-details {
                flex-direction: row;

                &-content {
                    width: 545px;
                }
            }
        }

        .task-details-margin-bottom {
            height: 80px;
        }
    }
}

@media (max-width: 750px) {
    .task-details-container {
        position: absolute;
        top: 0;
        left: 0;

        .task-details {
            flex-direction: column;
        }
    }
}