.board-list-container {
    display: flex;
    flex-direction: column;
    margin: 100px 100px 100px;
    width: 100%;

    .board-list-title-container {
        padding-bottom: rem(5.5px);
        display: flex;
        margin-inline-start: 5px;

        .board-list-title-icon {
            font-size: rem(22px);
        }

        .board-list-title {
            margin-inline-start: 15px;
            font-size: rem(15px);
            line-height: 24px;
            /* margin-bottom: 8px; */
            font-family: san-fransisco-medium, sans-serif;
            font-weight: 700;
        }
    }

    .board-list {
        display: flex;
        flex-wrap: wrap;

        .board-preview {
            margin: 0 2% 2% 0;
            padding: 0;
            transform: translate(0);
            height: rem(98px);
            width: rem(193px);
            margin-right: rem(15px);
            margin-bottom: rem(55px);
            border-radius: 3px;
            background-color: #d29033;

            &.add-board {
                background-color: #f0f2f5;
                color: #172b4d;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                cursor: pointer;
                font-family: san-francisco-light, sans-serif;
                font-size: rem(14px);
            }

            .board-preview-details {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: rem(75px);
                height: 100%;
                padding: 6px 6px 6px 6px;

                .board-title {
                    color: #fff;
                    font-weight: 700;
                    font-family: 700;
                    margin-inline-start: 2px;
                    margin-top: 2px;
                }

                // &:hover {
                .starred {
                    color: #f1d600;
                    position: absolute;
                    right: 11px;
                    bottom: 7px;
                    font-size: rem(18px);
                }

                .unstarred {
                    position: absolute;
                    right: 11px;
                    bottom: 7px;
                    font-size: rem(16px);
                    color: #fff;
                }
            }
        }
    }
}

// }