.app-header {
    justify-content: space-between;
    align-items: stretch;
    background-color: $clr5;
    color: $clr7;
    position: fixed;
    width: 100%;

    .logo {
        font-family: charlie-text-bold, sans-serif;
        padding: 6.5px 6.5px 6.5px 16px;

        img {
            margin-right: rem(6px);
        }
    }

    &:hover {
        box-shadow: rgb(9 30 66 / 15%) 0px 0.5rem 1rem 0px;
    }

    .header-links {
        .login-link {
            display: flex;
            align-items: center;
            padding: 7px;
            font-family: charlie-text-regular, sans-serif;
            font-size: rem(15.5px);
            color: inherit;
        }

        .btn-wide {
            margin-left: 7px;
        }
    }

    &.home-header {
        .logo {
            font-size: em(30px);

            img {
                max-width: rem(22px);
            }
        }
    }

    &.board-header {

        .logo {
            font-size: 1.34em;
            max-height: 44px;
            display: flex;
            align-items: center;

            img {
                max-width: 0.975rem;
            }
        }

        .header-links {
            padding-inline-end: 5px;
        }
    }

}