.app-header {
    justify-content: space-between;
    align-items: stretch;
    background-color: $clr5;
    color: $clr8;

    .logo {
        font-family: charlie-text-bold, sans-serif;
        font-size: em(30px);
        padding: 6.5px 6.5px 6.5px 16px;
    }

    &:hover {
        box-shadow: rgb(9 30 66 / 15%) 0px 0.5rem 1rem 0px;
    }
}