.app-header {
    justify-content: space-between;
    align-items: stretch;
    background-color: $clr5;
    color: $clr7;
    position: fixed;
    width: 100%;
    z-index: 10;

    .logo {
        font-family: charlie-text-bold, sans-serif;
        font-size: em(30px);
        padding: 6.5px 6.5px 6.5px 16px;

        img {
            max-width: rem(22px);
            margin-right: rem(6px);
        }
    }

    &:hover {
        box-shadow: rgb(9 30 66 / 15%) 0px 0.5rem 1rem 0px;
    }

    .header-btns {
        .login-link {
            display: flex;
            align-items: center;
            padding: 7px;
            font-family: charlie-text-regular, sans-serif;
        }

        .btn-wide {
            margin-left: 7px;
        }
    }
}