.main-header {
    height: 44px;
    background-color: #b7c4e6;
    height: fit-content;
    position: relative;

    .header-main-container {
        @include header;
        align-items: center;
        padding-top: 6px;
        padding-bottom: 6px;

        .logo-container {
            display: flex;
            align-items: center;

            .logo {
                font-size: 1.34em;
                display: flex;
                align-items: center;
                color: $clr14;
                margin-inline-end: 15px;
                line-height: 1.5;
                @include logo;

                img {
                    margin-top: 2px;
                }
            }

            .btn-create {
                height: 28px;
                padding-right: 9px;
                padding-left: 9px;
            }
        }
    }

    .header-links {
        padding-inline-end: 5px;
    }

    .avatar-btn {
        background-color: inherit;
        padding: 0;
    }

    .avatar {
        width: 32px;
        border-radius: 50%;
    }
}

@include for-mobile-layout { 
    .main-header{
        display: none
    }
}