.home-header {
    @include header;
    align-items: stretch;
    background-color: $clr5;
    color: $clr25;
    position: fixed;
    z-index: 10;

    &:hover {
        box-shadow: rgb(9 30 66 / 15%) 0px 0.5rem 1rem 0px;
    }

    .logo {
        padding: 6.5px 6.5px 6.5px 16px;
        font-size: em(30px);
        @include logo;
    }

    .header-links {

        .login-link {
            font-size: 1.2rem;
        }

        .btn-wide {
            margin-inline-start: 16px;
        }
    }

    @include avatar-btn;

    .avatar-btn {
        margin-right: 8px;
    }
}

@include for-mobile-layout {

    .home-header {
        .header-links {
            .login-link {
                font-size: 0.9rem;
            }

            .btn-wide {
                margin-inline-start: 5px;
                font-size: 0.9rem;
                padding: 0.8em em(15px);
            }
        }

    }
}

// background-color: $clr9;
// color: $clr5;
// font-family: charlie-text-regular, sans-serif;
// font-size: em(19.2px);
// padding: 0.8em em(24px);

// &:hover {
//     text-decoration: none;
//     background-color: $clr11;
// }
// }