* {
    box-sizing: border-box;
}

html {
    font-family: montserrat;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: caveat;
    margin: 0 0 0.6em;
    line-height: 1;
    font-weight: 400;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

.btn {
    display: flex;
    align-items: center;
    transition: background-color .2s;
}

.btn:hover {
    cursor: pointer;
}

.btn-wide {
    background-color: $clr8;
    color: $clr5;
    font-family: charlie-text-regular, sans-serif;
    font-size: em(19.2px);
    padding: em(8px) em(24px);
    line-height: 1.5;
}

.btn-wide:hover {
    text-decoration: none;
    background-color: $clr10;
}

.btn-primary {
    font-family: charlie-text-regular, sans-serif;
    background-color: $clr9;
    font-size: em(19.2px);
    padding: em(12px) em(16px);
    border-radius: 0.3em;
}

.btn-primary:hover {
    background-color: $clr11;
}