* {
    box-sizing: border-box;
}

html {
    font-family: montserrat;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: caveat;
    margin: 0 0 0.6em;
    line-height: 1;
    font-weight: 400;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}