.checklist-modal {
    margin-top: 10px;

    h6 {
        margin: 0;
        font-family: san-francisco-medium, sans-serif;
    }

    .add-btn {
        align-self: flex-start;
        width: 73px;
        background-color: $clr18;
        color: #fff;
        margin: 0;

        &:hover {
            background-color: #026aa7;
        }

        &:active {
            color: #fff;
            background-color: #026aa7;
        }
    }
}