.cover-modal {

    h6 {
        margin: 16px 0 4px;
    }

    .color-palette {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        gap: 8px;

        .color {
            width: 48.8px;
            height: 32px;
            border-radius: 3px;
            cursor: pointer;

            &:hover {
                filter: saturate(90%) brightness(85%);
            }
        }
    }

    .img-upload {
        position: relative;
        width: 100%;
        margin-top: 8px;

        &:hover {
            background-color: #091e4214;
        }

        input[type=file] {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            font-size: 0;
            cursor: pointer;
        }
    }

    .img-list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        >* {
            width: 88px;
            border-radius: 3px;
            cursor: pointer;

            &:hover {
                filter: saturate(90%) brightness(85%);
            }
        }
    }
}

@media (min-width: 750px) {
    .cover-modal {
        &.details-pos {
            top: 160px;
            right: -210px;
        }
    }
}