.dates-modal {
    width: 168px;
    margin-top: 10px;

    button {
        background-color: transparent;
        width: 40px;
        height: 40px;
        padding: 5px;
        margin: 3px;
        border-radius: 50%;

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }
    }
}