.dynamic-modal {
    position: fixed;
    top: 50px; // temporary
    right: 100px; // temporary
    width: 304px;
    z-index: 10;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #dfe1e6;
    border-radius: 3px;
    color: $clr23;

    button {
        display: inline;
        padding: 6px 12px;
        color: $clr8;

        &:hover {
            background-color: $clr24;
        }

        &:active {
            color: $clr18;
            background-color: #e4f0f6;
        }
    }

    .dynamic-header {
        position: relative;
        height: 41px;
        margin: 0 12px;
        margin-bottom: 8px;
        border-bottom: 1px solid #091e4221;
        text-align: center;

        h5 {
            font-family: san-francisco-light, sans-serif;
            font-size: rem(13.5px);
            line-height: 40px;
            margin: auto;
        }

        span {
            position: absolute;
            top: 12px;
            right: 0;
            font-size: rem(19px);

            &:hover {
                color: $clr8;
            }
        }
    }

    .dynamic-content {
        padding: 0 12px 12px;

        .dynamic-input {
            width: 280px;
            height: 36px;
            padding: 8px 12px;
            margin: 4px 0 12px;
            outline: none;
            border: none;
            border-radius: 3px;
            background-color: #fafbfc;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            color: $clr8;

            &:hover {
                background-color: #ebecf0;
            }

            &:focus {
                background-color: #fff;
                box-shadow: inset 0 0 0 2px $clr18;
            }
        }
    }
}