.labels-modal-container {

    .icon-less {
        position: absolute;
        left: -265px;
        color: #828b9a;

        &:hover {
            color: #8890a0;
        }
    }

    .labels-modal {
        color: $clr8;

        &-list {
            padding: 4px 0 8px;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 0 4px 4px;

                label {
                    display: flex;

                    input[type=checkbox] {
                        margin-right: 10px;
                    }

                    .label-modal {
                        width: 212px;
                    }
                }
            }

            .icon-pencil {
                width: 32px;
                height: 32px;
                background-color: transparent;
                padding: 0;
                padding-top: 4px;
                margin: 0;
                font-size: rem(15px);
                color: $clr23;

                &:hover {
                    background-color: $clr24;
                }

                &:active {
                    color: $clr18;
                    background-color: #e4f0f6;
                }
            }
        }
    }

    button {
        width: 100%;
        margin: 4px 0;
    }
}