.members-modal {
    .member-list {
        color: $clr8;

        li {
            position: relative;
            display: flex;
            align-items: center;
            height: 40px;
            border-radius: 3px;
            padding: 4px 28px 4px 4px;
            margin-bottom: 2px;
            white-space: nowrap;
            cursor: pointer;

            &:hover {
                background-color: #091e420a;
            }

            &:active {
                background-color: #e4f0f6;
            }

            img {
                width: 32px;
                height: 32px;
                object-fit: cover;
                border-radius: 50%;
            }

            .fullname {
                color: #091e42;
                padding-left: 8px;
            }

            .icon-check {
                position: absolute;
                top: 2px;
                right: 0;
                font-size: 14px;
                margin: 11px;
                color: $clr14;
            }
        }
    }

    p {
        text-align: center;
        padding: 24px 6px;
        margin: 0;
        color: $clr23;
        background-color: #091e420a;
        border-radius: 3px;
    }

    button {
        width: 100%;
        margin: 8px 0;
    }
}