.attachment-modal {
    position: absolute;
    top: 52px;
    left: 310px;
    z-index: 50;
    background-color: #fff;
    width: 304px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px var(--ds-border-input, #dfe1e6);

    &-header {
        text-align: center;
        height: 41px;
        line-height: 41px;
        margin: 0 12px;
        margin-bottom: 7px;
        font-size: rem(13px);
        color: $clr23;
        border-bottom: 1px solid var(--ds-border, #091e4221);

        .close-icon {
            position: absolute;
            right: 10px;
            top: 4px;
            font-size: rem(18px);
        }
    }

    &-content {
        padding: 0 12px 12px;
        height: 116px;

        label {
            font-size: rem(11px);
            font-family: san-francisco-medium, sans-serif;
            font-weight: 900;

            input[type=text] {
                width: 280px;
                padding: 8px 12px;
                margin: 4px 0 12px;
                background-color: #fafbfc;
                border: none;
                border-radius: 3px;
                box-shadow: inset 0 0 0 2px var(--ds-border-input, #dfe1e6);
                outline-color: $clr18;

                &:focus {
                    background-color: white;
                }
            }
        }

        .update-btn {
            padding: 6px 24px;
            background-color: $clr18;
            color: #fff;

            &:hover {
                background-color: $clr19;
            }
        }
    }
}