.checklist {

    input {
        background-color: transparent;
        border: none;
    }

    &-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        &-icon {
            font-size: rem(20px);
            margin-top: 5px;
            color: #42526e;
        }

        input[name=title] {
            width: 400px;
            outline: none;
            color: inherit;
            font-family: san-francisco-medium, sans-serif;
            line-height: rem(20px);
            font-size: rem(16px);
        }
    }
}