.checklist-list {

    >* {
        margin-bottom: 40px;
    }

    input {
        background-color: transparent;
        border: none;
    }

    textarea {
        border: none;
        resize: none;
        overflow-y: hidden;
        font-family: inherit;
        background-color: transparent;
        border: none;
        outline: none;
        border-radius: 3px;

        &:focus {
            background-color: #091e420a;
            border: 1px solid #091e4221;
        }
    }
}

@media (min-width: 850px) {
    textarea {
        width: 512px;
    }
}

@media (min-width: 750px) {
    @media (max-width: 850px) {
        textarea {
            width: 466px;
        }
    }
}

// only for Demo
@media (max-width: 750px) {
    textarea {
        width: 310px;
    }
}