.checklist {

    input {
        background-color: transparent;
        border: none;
    }

    &-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        input[name=title] {
            width: 400px;
            outline: none;
            color: inherit;
            font-family: san-francisco-medium, sans-serif;
            line-height: rem(20px);
            padding-left: 34px;
        }
    }
}