.cover {
    position: relative;

    &-img {
        height: 160px;
        object-fit: contain;
        background-color: #2c2c2c1c;
    }

    &-color {
        height: rem(116px);
        border-radius: 3px 3px 0 0;
    }

    &-btn {
        position: absolute;
        right: 10px;
        bottom: 10px;
        padding: 6px 12px 6px 6px;
        font-weight: 600;

        &-icon {
            width: 20px;
            margin-right: 4px;
            color: #172b4d;
        }
    }

    .close-task-details {
        align-items: center;
        border: none;
        border-radius: 50%;
        color: #42526f;
        display: flex;
        height: 40px;
        justify-content: center;
        margin: 4px;
        padding: 4px;
        position: absolute;
        font-size: 24px;
        right: 0;
        top: 0;
        width: 40px;
        z-index: 2;
        background: none;

        &:hover {
            color: #42526f;
            background-color: #e1e4e9;
        }
    }
}