.date-container {

    .date {
        display: flex;
        margin-bottom: 10px;

        button {
            line-height: rem(20px);
            margin-left: 5px;
        }

        &-label {
            display: inline-block;
            height: 16px;
            line-height: 16px;
            font-size: rem(11.5px);
            padding: 0 4px;
            margin: 2px 0 2px 8px;
            color: #fff;
            border-radius: 2px;
        }
    }
}

@media (min-width: 750px) {
    .date-container {
        margin-left: 33px;
    }
}

@media (max-width: 750px) {
    .date-container {}
}