.labels {
    margin-left: 33px;
    margin-bottom: 5px;

    &-list {
        display: flex;
        flex-wrap: wrap;

        li {
            margin-right: 5px;
            margin-bottom: 5px;

            .label {
                word-wrap: break-word;
                width: 150px;
                padding-right: 12px;
            }
        }

        .icon-add {
            display: inline;
            width: 32px;
            height: 32px;
            padding: 0;
            padding-top: 3px;
            font-size: rem(12px);
            color: $clr8;
        }
    }
}