.labels {
    margin-bottom: 5px;
    max-width: 512px;

    &-list {
        display: flex;
        flex-wrap: wrap;

        li {
            margin-right: 5px;
            margin-bottom: 5px;

            .label {
                padding-right: 12px;
            }
        }

        .icon-add {
            display: inline;
            width: 32px;
            height: 32px;
            padding: 0;
            padding-top: 3px;
            font-size: rem(12px);
            color: $clr8;

            &:active {
                color: $clr18;
                background-color: #e4f0f6;
            }
        }
    }
}

@media (min-width: 750px) {
    .labels {
        margin-left: 33px;
    }
}