.members-container {
    margin-bottom: 12px;

    .members-div {
        display: flex;

        >* {
            width: 32px;
            height: 32px;
            margin-right: 5px;
            border-radius: 50%;
        }

        .icon-add {
            display: inline;
            padding: 0;
            padding-top: 3px;
            font-size: rem(12px);
            color: $clr8;

            &:active {
                color: $clr18;
                background-color: #e4f0f6;
            }
        }
    }
}

@media (min-width: 750px) {
    .members-container {
        margin-left: 33px;
    }
}

@media (max-width: 750px) {
    .members-container {}
}