.task-sidebar {
    font-size: rem(14px);
    padding-bottom: 40px;

    .task-sidebar-btns {
        display: flex;
        gap: 10px;

        .sidebar-btn {
            position: relative;

            &:active {
                color: $clr18;
                background-color: #e4f0f6;
            }

            .icon {
                position: absolute;
                top: 7.5px;
                left: 8px;
                color: $clr8;

                &:active {
                    color: $clr18; //not working !
                }
            }

            .sidebar-cmp {
                padding-left: 20px;
                text-transform: capitalize;
            }
        }
    }
}

@media (min-width: 750px) {
    .task-sidebar {
        .task-sidebar-btns {
            flex-direction: column;
            width: 168px;
        }
    }
}

@media (max-width: 750px) {
    .task-sidebar {
        .task-sidebar-btns {
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }

        .task-sidebar-btns {
            .sidebar-btn {
                flex: 1 1 150px;
            }
        }
    }
}