.task-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0 15px;

    &-icon {
        position: absolute;
        font-size: 21px;
        color: $clr14;
        margin-top: 10px;
    }

    &-header {
        width: 92%;
        background-color: transparent;
        border: none;
        font-size: rem(20px);
        font-family: san-francisco-medium, sans-serif;
        padding: 4px 8px;
        color: $clr8;
        outline-color: $clr18;
        margin: 5px 0 0 25px;

        &:focus {
            background-color: white;
        }
    }

    &-subtitle {
        font-size: rem(14px);
        margin-top: 1.5px;

        span {
            text-decoration: underline;
        }
    }
}

@media (max-width: 750px) {
    .task-title {
        &-header {
            width: 85%;
        }
    }
}