.todo {
    padding: 6px 0;

    &:hover {
        background-color: rgba(9, 30, 66, 0.04);
        border-radius: 3px;
    }

    input[name=isDone] {
        position: absolute;
    }

    input[name=title] {
        width: 400px;
        outline: none;
        font-family: san-francisco-light, sans-serif;
        font-size: rem(14px);
        line-height: rem(20px);
        padding-left: 33px;
    }

    .todo-remove-btn {
        display: none;
    }

    &:hover {
        .todo-remove-btn {
            display: inline;
            line-height: 10px;
        }
    }

}