.todo-list-container {

    .todo-list {
        margin-bottom: 10px;
    }

    .new-todo {

        &-textarea {
            height: 20px;
            outline: auto;
            outline-color: $clr18;

            &:focus {
                background-color: #fff;
                height: 56px;
                padding: 8px 12px;
                text-decoration: none;
            }
        }

        &-buttons {
            display: flex;
            margin-top: 2px;
            margin-bottom: 9px;

            .todo-add-btn {
                background-color: $clr18;
                color: #fff;
                margin-right: 5px;

                &:hover {
                    background-color: $clr19;
                }
            }

            .todo-cancel-btn {
                background-color: transparent;

                &:hover {
                    background-color: #091e4214;
                }
            }
        }
    }
}

@media (min-width: 750px) {
    .todo-list-container {
        .add-todo-btn {
            margin-left: 33px;
        }

        .new-todo {

            &-textarea,
            &-buttons {
                margin-left: 33px;
            }
        }
    }
}

@media (max-width: 750px) {
    .todo-list-container {}
}