.todo-list-container {

    .todo-list {
        margin-bottom: 10px;

        >* {
            padding: 6px 0;

            &:hover {
                background-color: rgba(9, 30, 66, 0.04);
                border-radius: 3px;
            }
        }
    }

    .add-todo-btn {
        margin-left: 35px;
    }
}