.board-secondary-header-container {
    background: linear-gradient(0deg, #ffffff00 0%, rgb(255 255 255 / 10%) 25%, $clr15 100%);

    .board-secondary-header {
        display: flex;
        justify-content: space-between;
        padding-top: 7px;
        padding-bottom: 9px;
        color: $clr8;
        align-items: center;

        .header-main-content {
            display: flex;
            align-items: center;

            .board-title {
                font-size: rem(18px);
                font-weight: 700;
                line-height: rem(32px);
                font-family: san-francisco-medium, sans-serif;
                margin-inline-end: 15px;
            }

            .creator {
                @include btn-transparent-size;
            }

            .divider {
                border-left: 1px solid #0003;
                float: left;
                height: 16px;
                margin: 8px 8px 12px 8px;
            }

            .member-avatars {
                display: flex;
                margin-inline-start: 4px;

                .member-avatar {
                    width: rem(28px);
                    display: flex;
                    align-items: center;
                    border-radius: 50%;
                }
            }

            .btn-open-menu {
                @include btn-transparent-size;

                .board-menu-dots-icon {
                    color: #fff
                }
            }
        }

        .filter-container {

            .btn-transparent {
                @include btn-transparent-size;
            }
        }
    }
}

@include for-mobile-layout {
    .board-secondary-header-container {
        padding-top: 7px;
        padding-bottom: 9px;
        // color: $clr8;

        .board-secondary-header {
            display: block;
            // justify-content: space-between;
            // max-height: 40px;
            padding-top: 7px;
            padding-bottom: 9px;
            // color: $clr8;
            align-items: center;
            background-color: #6f7477;

            .header-main-content {
                justify-content: space-between;

                .board-title {
                    font-size: rem(14px);
                    font-weight: 400;
                    color: #fff;
                    // line-height: rem(32px);
                    font-family: san-francisco-medium, sans-serif;
                    margin-inline-end: 15px;
                    width: 130px;


                }

                .creator {
                    display: none;
                }

                .divider {
                    display: none;
                }

                .member-avatars {
                    display: none;

                }

                .btn-open-menu {
                    background-color: transparent;

                }

                .show-menu-txt {
                    display: none;
                }

                .board-menu-dots-icon {}

            }
        }
    }

}