.form-add {
    margin: 0 8px;
    font-size: rem(14px);
    background-color: #ebecf0;
    border-radius: 3px;

    &.t-form {
        height: 80px;
        padding: 5px;
    }

    .group-title {
        resize: none;
        overflow-y: hidden;
        height: 36px;
        width: 264px;
        padding: 8px 12px;
        font-family: inherit;
        color: inherit;
        background-color: white;
        border: 2px solid $clr18;
        outline-color: $clr18;
        border-radius: 3px;
        white-space: pre-wrap;
    }

    &.c-form {
        margin-bottom: 8px;
    }

    .card-title {
        resize: none;
        overflow: hidden;
        overflow-wrap: break-word;
        max-height: 162px;
        min-height: 54px;
        border: none;
        border-radius: 3px;
        font-family: san-francisco-light, sans-serif;
        width: 100%;
        padding: 6px 8px 2px;
        box-shadow: 0 1px 0 $clr17;
        color: $clr8;

        &:focus-visible {
            outline: none;
            border: none;
        }
    }

    &-buttons {
        position: relative;

        .add-btn {
            padding: 6px 12px;
            background-color: $clr18;
            border-radius: 3px;
            color: #fff;
            line-height: 20px;

            &:hover {
                background-color: $clr19;
            }
        }

        .c-btn {
            margin-top: 4px;
        }

        .icon {
            position: absolute;
            font-size: rem(25px);
            color: $clr20;
            background-color: transparent;

            :hover {
                color: $clr8;
            }
        }

        .t-icon {
            top: 3px;
            left: 68px;
        }

        .c-icon {
            top: 3px;
            left: 78px;
        }
    }
}