.group-list-container {
    height: 100%;
    flex-grow: 1;

    .group-list {
        height: 100%;
        flex-grow: 1;

        .btn-add-group {
            height: 34px;
            min-width: 272px;
            background-color: #00000034;
            border-radius: 3px;
            margin-inline-start: 4px;

            .plus-icon {
                margin-inline-start: 6px;
                margin-inline-end: 6px;
                // height: 100%;
                width: rem(16px);
            }

            &:hover {
                background-color: #00000040;
            }
        }
    }
}