.group-list {
    height: 100vh;

    .btn-add-group {
        height: 34px;
        min-width: 272px;
        border-color: #0000;
        background-color: #00000034;
        border-radius: 3px;

        &:hover {
            background-color: #00000040;
        }
    }
}