.group-preview {
    max-height: 98.5%;
    margin-right: 4px;
    width: 272px;
    background-color: #ebecf0;
    border-radius: 3px;
    position: relative;

    &:not(:first-child) {
        margin-left: 4px;
    }

    &.scrollable {
        padding-right: 4px;

        .task-list {
            padding: 0 4px 0 8px;
        }
    }

    .group-title-container {
        padding: 6px 36px 6px 8px;
        position: relative;

        .group-title {
            cursor: pointer;
            flex-grow: 1;
            padding: 4px 8px;

            h3 {
                font-family: san-francisco-medium, sans-serif;
                font-size: rem(14px);
                line-height: rem(20px);
                margin-bottom: 0;
                color: $clr8;
            }
        }

        .group-title-edit {
            color: $clr8;
            padding: 4px 8px;
            resize: none;
            border-radius: 3px;
            font-family: san-francisco-light;

            &:focus-visible {
                border: none;
                outline: none;
            }

            &:focus {
                box-shadow: inset 0 0 0 2px $clr18;
            }
        }

        .btn-container {
            align-items: center;
            position: absolute;
            right: 6px;
            top: 6px;

            .btn-open-modal {
                background-color: #ebecf0;
                border-radius: 3px;
                padding: 6px;
                font-size: 16px;
                color: $clr20;
                aspect-ratio: 1 / 1;

                &:hover {
                    background-color: #091e4214;
                }
            }
        }
    }

    .add-task-container {
        display: flex;

        .btn-add-task {
            flex-grow: 1;
            max-width: 100%;
            margin: 2px 8px 8px;
            padding: 4px 8px;
            color: $clr23;
            font-size: em(13px, 13px);
            background-color: inherit;
            border-radius: 3px;
            line-height: lh(20px, 13px);

            .plus-icon {
                @include plus-icon;
            }

            &:hover {
                background-color: $clr24;
            }
        }
    }
}

@include for-mobile-layout {
    .group-preview {
        max-height: 100%;
        margin-right: 4px;
        width: 80vw;
        background-color: #ebecf0;
        border-radius: 3px;
        position: relative;
        margin-inline-start: 10px;
        margin-inline-start: 10px;
    }
}