.task-preview-container {

    .task-preview {
        overflow: hidden;
        // padding: 6px 8px 2px;
        background-color: $clr5;
        margin-bottom: 8px;
        white-space: normal;
        border-radius: 4px;
        height: fit-content;
        position: relative;
        word-break: break-word;
        box-shadow: 0 1px 0 $clr17;
        color: $clr8;

        .task-cover-img {
            height: 163.33333333333334px;
        }

        .task-edit-icon {
            display: none;
            // font-size: 16px;
            height: rem(25px);
            line-height: rem(20px);
            width: rem(25px);
            z-index: 10;
            position: absolute;
            right: 3px;
            top: 2px;
            border-radius: 3px;

            &:hover {
                display: inline-block;
                justify-content: center;
                align-items: center;
                background: #f4f5f7;
            }
        }

        &:hover {
            .task-edit-icon {
                display: inline-block;
                // background: none;
                color: #42526e;
                padding: 5px;
            }
        }

        .task-preview-details {
            padding: 6px 8px 2px;

            // margin-inline-start: 8px;
            // margin-top: 3px;

            .task-title {
                font-family: san-francisco-light;
                line-height: lh(20px, 13px);
            }

            .task-badge-container {
                max-width: 100%;
                font-family: san-francisco-light;
                font-size: rem(12px);
                height: 28px;
                align-items: center;
                position: relative;

                .task-badge {
                    width: rem(13px);
                    margin-inline-end: 5px;
                }

                .task-due-date {
                    margin-inline-end: 5px;
                }

                .member-avatar {
                    position: absolute;
                    right: 0;

                    img {
                        float: right;
                        width: rem(28px);
                        border-radius: 50%;
                        margin-inline-end: 3px;

                    }
                }
            }
        }
    }
}