.task-badge-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .task-badges {
        max-width: 100%;
        font-family: san-francisco-light, sans-serif;
        font-size: rem(12px);
        height: 28px;
        align-items: center;
        position: relative;
        color: $clr23;
        display: flex;

        .task-date {
            display: flex;
            align-items: center;
            height: 24px;
            margin: 0 10px 4px 0;
            padding: 5px;
            border-radius: 3px;
            font-size: rem(11px);

            .clock-badge {
                font-size: rem(14px);
                margin-right: 4px;
                line-height: 1px;
            }

            .checklist-badge-empty {
                display: none;
                font-size: rem(12px);
                margin: 0 4.5px 0 1.5px;
            }

            .checklist-badge {
                display: none;
                font-size: rem(14.5px);
                margin-right: 3.5px;
            }

            &-time {
                padding-top: 2px;
            }

            &:hover {
                filter: saturate(99%) brightness(90%);

                .clock-badge {
                    display: none;
                }

                .checklist-badge,
                .checklist-badge-empty {
                    display: flex;
                }
            }
        }

        .description-badge {
            font-size: 12px;
            margin-right: 10px;
        }

        .task-attachment {
            display: flex;
            align-items: center;
            margin-right: 10px;
            font-size: rem(11.5px);

            .attachment-badge {
                color: $clr23;
                font-size: rem(12px);
                margin-right: 4px;
            }
        }

        .checklist-count-container {
            display: flex;
            align-items: center;

            .checklist-badge {
                font-size: 14px;
            }

            .checklist-count {
                font-size: rem(11.5px);
                margin-left: 4px;
            }
        }
    }

    .member-avatar-list {

        img {
            width: rem(28px);
            border-radius: 50%;
            margin: 0 0 4px 4px;
        }
    }
}

@include for-mobile-layout {
    .task-badge-container {
        align-items: self-start;

        .member-avatar {
            margin: 2px 0 0px 4px;
        }
    }
}