.task-edit-modal {
    background-color: transparent;
    position: absolute;
    left: 9px;
    top: 41px;
    z-index: 40;
    display: flex;

    .task-title-container {
        textarea {
            width: 255px;
            border-radius: 3px;
            height: fit-content;
            position: relative;
            padding:6px 8px 2px;
            resize: none;
        }
    }
    .task-edit-modal-btns {
        flex-direction: column;
        width: 240px;
    }

    .dark-btn {
        background: #0009;
        border: none;
        border-radius: 3px;
        color: #e6e6e6;
        font-size: rem(14px);
        margin: 0px 0 5px 8px;
        padding: 6px 12px 6px 8px;
        width: fit-content;

        &:hover {
            transform: translateX(5px);
            background: #000c;
            color: #fff;
        }
    }

    .edit-modal-icon {
        font-size: rem(14px);
        // margin: 0px 7px 0 0;
        margin-right: 7px;
    }
}

//     .btn-close {
//         color: #fff9;
//         padding: 9px;
//         position: absolute;
//         right: 0;
//         top: 0;
//         transition-duration: .15s;
//         transition-property: transform, color;
//     }
// }