.task-preview-container {
    // width: 96%;
    // margin: auto;

    .task-preview {
        overflow: hidden;
        padding: 6px 6px 4px;
        z-index: 10;
        cursor: pointer;
        background-color: $clr5;
        margin-bottom: 8px;
        white-space: normal;
        border-radius: 4px;

        .task-title {
            font-family: san-francisco-light;
            font-size: rem(14px);
            font-weight: 700;

        }

        .task-badge-container {
            justify-content: space-around;
            max-width: 75%;
            font-family: san-francisco-light;
            font-size: rem(12px);

            .task-badge {
                width: rem(13px);
            }
        }

        // > *:not(:first-child) {
        //     margin-inline-start: 15px;
        // }
    }

    .member-avatar {
        img {
            width: rem(28px);
            float: right;
        }
    }
}