.task-list-container {
    overflow-x: hidden;
    overflow-y: auto;

    .task-list {
        // margin: 0 4px;
        padding: 0 8px;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #bfc4ce;
        border: none;
    }
}