.task-preview-container {
    position: relative;

    .task-preview {
        background-color: $clr5;
        margin-bottom: 8px;
        border-radius: 4px;
        height: fit-content;
        word-break: break-word;
        box-shadow: 0 1px 0 $clr17;
        color: $clr8;
        transition: background-color .2s;

        .task-cover-color {
            height: 32px;
            width: 100%;
            border-radius: 3px 3px 0 0;
        }

        .task-cover-img {
            height: 100%;
            border-radius: 3px 3px 0 0;
            object-fit: contain;
        }

        .task-edit-icon {
            display: none;
            height: rem(28px);
            line-height: rem(20px);
            width: rem(28px);
            z-index: 10;
            position: absolute;
            right: 3px;
            top: 2px;
            border-radius: 3px;
            color: #42526e;
            font-size: 15px;
        }

        &:hover {
            background-color: #f4f5f7;
            cursor: pointer;

            .task-edit-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: inherit;

                &:hover {
                    background-color: #ebecf0;
                }
            }

            .task-edit-icon.on-cover {
                transition: background-color .2s;
                background-color: $clr28;

                &:hover {
                    background-color: $clr29;
                }
            }
        }

        .task-preview-details {
            padding: 7px 8px 2px;

            .task-title {
                font-family: san-francisco-light;
                line-height: lh(20px, 13px);
                margin-bottom: 8px;
            }
        }
    }
}

@include for-mobile-layout {
    .task-preview-container {
        .task-preview {
            .task-preview-details {
                .task-title {
                    margin-bottom: 0;
                }
            }
        }
    }
}