@font-face {
    font-family: secular;
    src: url(../../fonts/secular/SecularOne-Regular.ttf);
}

@font-face {
    font-family: charlie-text-bold;
    src: url(../../fonts/charlie/CharlieText-Bold.ttf);
}

@font-face {
    font-family: charlie-text-regular;
    src: url(../../fonts/charlie/CharlieText-Regular.ttf);
}

@font-face {
    font-family: charlie-text-semibold;
    src: url(../../fonts/charlie/CharlieDisplay-Semibold.ttf);
}

@font-face {
    font-family: san-francisco;
    src: url(../../fonts/san-francisco/SFUIText/SFUIText-Light.otf);
}