// Color Palette
//App header color (when logged in)
$clr1 :#0369a7;

// template bg color
$clr2: #fafbfc;

// text dark color 
$clr3: #182a4d;

// text light color
$clr4: #fbfbfc;

// home header bg color
$clr5: #fff;

// home bg color
$clr6: rgb(234, 230, 255);

// home text color
$clr7: #091e42;

// task-details bg color
$clr12: #f4f5f7;

// logo in board header
$clr14: #42526E;

// board secondary header bg color
$clr15: #ffffff3d;

// Additional Colors
// wide btn bg color
$clr8: #172b4d;

// btn primary home bg color
$clr9: #0065ff;

// wide btn bg color hover
$clr10: lighten($clr8, 10%);

// btn primary home bg color hover
$clr11: darken($clr9, 10%);

// btn-transparent bg color
$clr13: #0000001a;

// btn-transparent bg color hover
$clr16: #00000033;

// box shadow in form add
$clr17: #091e4240;

// btn primary board bg color
$clr18: #0079bf;

// btn primary board bg color
$clr19: darken($clr18, 5%);

// btn open modal clr
$clr20: #6b778c;

// btn add group bg clr
$clr21: #00000014;

// btn add group hover bg clr
$clr22: #00000029;

// task preview badge clr
$clr23: #5e6c84;

// btn add task bg color hover
$clr24: #091e4214;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// labels palette:
// yellow
$clrL-Y: #F5DD29;
$clrL-YB: #FAF3C0;
$clrL-YH: #F5EA92;
// orange
$clrL-O: #FFAF3F;
$clrL-OB: #FCE6C6;
$clrL-OH: #FAD29C;
// red
$clrL-R: #EF7564;
$clrL-RB: #F5D3CE;
$clrL-RH: #EFB3AB;
// purple
$clrL-P: #CD8DE5;
$clrL-PB: #EDDBF4;
$clrL-PH: #DFC0EB;
// blue
$clrL-B: #29CCE5;
$clrL-BB: #BDECF3;
$clrL-BH: #8FDFEB;
// green
$clrL-G: #6DECA9;
$clrL-GB: #D3F6E4;
$clrL-GH: #B3F1D0;