// Colors
//App header color (when logged in)
$clr1 :#0369a7;

// Home bg color
$clr2: #fafbfc;

// text color black
$clr3: #182a4d;

// text color white
$clr4: #fbfbfc;

// home header bg color
$clr5: #fff;

// button clr
$clr6: #172b4d;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;